nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') PassportLogin
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#toggle',
    aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #toggle.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='#') Articles
            li.nav-item
                a.nav-link(href='#') Categories
        ul.navbar-nav.ml-auto
            if (user)
                li.nav-item
                    a.nav-link(href='/logout') Logout
            else
                li.nav-item
                    a.nav-link(href='/login') Login
                li.nav-item
                    a.nav-link(href='/register') Register