extends layout

block content
    .container
        != messages()
        form.comment-form(method='post', action='/user/forgotPassword')
            .form-group
                label(for='email') Email
                input#email.form-control(type='email', name='email', placeholder='Email')
                if (errors)
                    if (errors.email)
                        .error
                            .text-danger= errors.email.msg

            button.btn.btn-primary.mb-2(type='submit') Send
        p Don't have an account?
            a(href='/user/register') Register