extends layout

block content
    .container
        != messages()
        form.comment-form(method='post', action='/resetPassword/' + resetToken)
            .form-group
                label(for='password') Password
                input#password.form-control(type='password', name='password', placeholder='Password')
                if (errors)
                    if (errors.password)
                        .text-danger= errors.password.msg
            .form-group
                label(for='password2') Confirm Password
                input#password2.form-control(type='password', name='password2', placeholder='Confirm Password')
                if (errors)
                    if (errors.password2)
                        .text-danger= errors.password2.msg

            button.btn.btn-primary.mb-2(type='submit') Send
        p Don't have an account?
            a(href='/register') Register